Selenoid Login + Password:
LOGIN = "test"
PASSWORD = "7894"

Litres sensitive info:
USER_EMAIL = "user@gmail.com"
USER_PASSWORD = "password"
UNREGISTERED_USER_EMAIL = "test@gmail.com"
UNREGISTERED_USER_PASSWORD = "1234567"

Browserstack sensitive info:
USER_NAME = "test_dj6dHJd"
ACCESS_KEY = "KMdkMDLLtAxvZmfkC"
REMOTE_BROWSER_URL = "http://remote/browser/url"
BSTACK_APP_ID = "0e48848fjdjjkd17360e0500c7b471a9477d7sj5d"